
/kernel/Debug
/kernel/.project
/kernel/.cproject
/kernel/Release
/kernel/.settings
/boards/zedboard/kernel_bsp/ps7_cortexa9_0/lib
/doc/Specifications/latex/latex.tcp
/doc/Specifications/latex/latex.tps
/doc/Specifications/latex/specifications.log
/doc/Specifications/latex/specifications.aux
/doc/Specifications/latex/specifications.bbl
/doc/Specifications/latex/specifications.blg
/doc/Specifications/latex/specifications.log
/doc/Specifications/latex/specifications.out
/doc/Specifications/latex/specifications.toc
/doc/Specifications/latex/specifications.synctex.gz
/kernel/build
/user/build
/user/*.project
/user/*.cproject

